.card-img-top{
	max-width: 70%;
}
.news-grid{
	padding: 6px;
	display: grid;
	gap: 1rem; 
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	align-items: stretch;
	background-color: #6375d6;
}
