div {
	display: block;
	unicode-bidi: isolate;
}
.win-logo{
	background-image: url(../img/winlogo.png);
	background-size: cover;
	width: 50px;
	height: 98%;
}
.win-toolbar{
	display: flex;
	height: 32px;
	flex-direction: row;
	border-bottom: 2px solid rgba(0, 0, 0, .1);
}
.subbar{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	background-color: #ede9d3;
	border-right: 1px solid rgba(0, 0, 0, .1);
}
.item{
	cursor: default;
	font-size: 13px;
	padding: 6px;
	border: 1px solid transparent;
}
.toolbar-icons{
	display: flex;
	flex-direction: row;
	background: #ede9d3;
	height: 35px;
	align-items: center;
	padding: 5px;
	font-size: 14px;
}
.search-bar{
	display: flex;
	flex-direction: row;
	height: 30px;
	border-top: 2px solid rgba(0, 0, 0, .1);
	background: #ede9d3;
	padding-top: 2px;
}

.card-img-top{
	max-width: 70%;
}
.news-grid{
	padding: 6px;
	display: grid;
	gap: 1rem; 
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: stretch;
	background-color: #6375d6;
}
