{% extends 'myapp/base.html' %}

{% load static %}

	{% block addCSS %}

<link rel="stylesheet" href="{% static 'news/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'shared/css/wintoolbar.css' %}">

{% endblock %}

{% block title %}News{% endblock %}
{% block windowTitle %} News {% endblock %}

{% block content %}

{% include "shared/toolbar.html" with showSearch=True formAction=news labelText="Choose category" sources=sources activeSource=active_source %}

{% if newsapi.status == 'ok' %}
<div class="news-grid">
	{% for article in newsapi.articles %}
	<div class="col">
		<div class="card h-100">
			<img src="{{ article.urlToImage }}" class="card-img-top" alt="{{ article.title }}">
			<div class="card-body">
				<h5 class="card-title">
					<a target="_blank" href="{{ article.url }}">{{ article.title }}</a>
				</h5>
				<p class="card-text">{{ article.description }}</p>
			</div>
			<div class="card-footer">
				<small class="text-body-secondary">{{ article.publishedAt }}</small>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
	Sorry, something went wrong!
</div>
{% endif %}

{% endblock %}

