{% extends 'myapp/base.html' %}

{% load static %}

	{% block addCSS %}

<link rel="stylesheet" href="{% static 'news/css/styles.css' %}">
{% endblock %}

{% block title %}News{% endblock %}
{% block windowTitle %} News {% endblock %}

{% block nav-link-news %}active{% endblock %}

{% block content %}

<div class="win-toolbar">
	<div class="subbar">
		<p class="item">File</p>
		<p class="item">Edit</p>
		<p class="item">View</p>
		<p class="item">Favourites</p>
		<p class="item">Tools</p>
		<p class="item">Help</p>
	</div>
	<div class="win-logo"></div>
</div>
<div>
	<div class="toolbar-icons">
		<div class="back-button">placeholder </div>
		<div class="forward-button">placehold </div>
		<div class="folders">fold</div>
	</div>
	<div class="search-bar">

		<form method="get" action="{% url 'news:news' %}" class="source-form">
			<label for="news-source" style="padding: 3px;">Choose news source</label>
			<select id="news-source" name="source" style="width: 100ch;">
				<option value="">— Select source —</option>
				{% for source in sources %}
				<option value="{{ source.id }}" {% if source.id == active_source %}selected{% endif %}>
					{{ source.name }}
				</option>
				{% endfor %}
			</select>
			<button type="submit">Show</button>
		</form>

	</div>
</div>

{% if newsapi.status == 'ok' %}
<div class="news-grid">
	{% for article in newsapi.articles %}
	<div class="col">
		<div class="card h-100">
			<img src="{{ article.urlToImage }}" class="card-img-top" alt="{{ article.title }}">
			<div class="card-body">
				<h5 class="card-title">
					<a target="_blank" href="{{ article.url }}">{{ article.title }}</a>
				</h5>
				<p class="card-text">{{ article.description }}</p>
			</div>
			<div class="card-footer">
				<small class="text-body-secondary">{{ article.publishedAt }}</small>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
	Sorry, something went wrong!
</div>
{% endif %}

{% endblock %}

